params {
  file_type = "rds"
  mode = "generate_and_run"
  sc_input = "/data/gent/vo/000/gvo00070/vsc43831/spotless-benchmark/standards/reference/silver_standard_1_brain_cortex.rds"
  annot = "celltype"
  methods = "rctd"
  verbose = true
  deconv_args = [rctd: "--doublet_mode doublet"]
  container_name = 'csangara/sp_rctd:latest'
  runID_props = "_${params.container_name.split(':')[-1]}"
  runID_metrics = "_${params.container_name.split(':')[-1]}"
  gpu = false
  outdir = [props: "/data/gent/vo/000/gvo00070/vsc43831/visium-hd/UMI_downsampling/deconv_props",
            metrics: "/data/gent/vo/000/gvo00070/vsc43831/visium-hd/UMI_downsampling/results"
            synthspot: "/data/gent/vo/000/gvo00070/vsc43831/visium-hd/data/MouseBrain_UMI_downsampling"]
  
  synthspot = [sc_input: "/data/gent/vo/000/gvo00070/vsc43831/spotless-data/raw_data/sc_datasets/brain_cortex_generation.rds",
    clust_var: "celltype",
    region_var: "brain_subregion",
    type: "real",
    reps: 3,
    dataset_id: "1",
    n_spots_min: 2000,
    n_spots_max: 3000,
    visium_mean: 225,
    visium_sd: 210,
    n_cells_min: 1,
    n_cells_max: 2]
}

process {
  withName: runRCTD {
      errorStrategy = 'terminate'
      memory = "12 GB" 
      cpus = 8
      time = "4h"
      container = params.container_name
  }
}

