params {
  file_type = "rds"
  mode = "run_dataset"
  sc_input = "/data/gent/vo/000/gvo00070/vsc43831/spatial_datasets/scref_Lung_UBla/lung_combined_macs_DCs_seurat_annot_ident.rds"
  sp_input = "/data/gent/vo/000/gvo00070/vsc43831/spatial_datasets/Visium_HD_Lung_ILA010/Visium_HD_Lung_ILA010_${params.bin_size}_filtered100UMI.rds"
  annot = "annot_ident"
  methods = "rctd"
  verbose = true
  skip_metrics = true
  deconv_args = [rctd: "--doublet_mode doublet --CELL_MIN_INSTANCE 40"]
  container_name = 'csangara/sp_rctd:latest'
  runID_props = ""
  gpu = false
  outdir = [props: "/data/gent/vo/000/gvo00070/vsc43831/visium-hd/visium_hd_lung_ila010"]
}

executor {
  memory = "80 GB"
  cpus = 6
}

process {
  executor = "local"
  
  withName: runRCTD {
      errorStrategy = 'terminate'
      memory = "76 GB" 
      cpus = 5
      time = "30h"
      container = params.container_name
  }
}
