params {
  file_type = "rds"
  mode = "run_dataset"
  sc_input = "/data/gent/vo/000/gvo00070/vsc43831/spatial_datasets/scref_Liver_Guilliams/liver_mouseStSt_noEC.rds"
  sp_input = "/data/gent/vo/000/gvo00070/vsc43831/spatial_datasets/Visium_HD_Liver/Visium_HD_Liver_${params.bin_size}.rds"
  annot = "annot_cd45"
  methods = "rctd"
  verbose = true
  skip_metrics = true
  deconv_args = [rctd: "--doublet_mode doublet --CELL_MIN_INSTANCE 80"]
  container_name = 'csangara/sp_rctd:latest'
  runID_props = "_${params.annot}"
  gpu = false
  outdir = [props: "/data/gent/vo/000/gvo00070/vsc43831/visium-hd/visium_hd_liver"]

}

executor {
  memory = "100 GB"
  cpus = 6
}

process {
  executor = "local"
  
  withName: runRCTD {
      errorStrategy = 'terminate'
      memory = "96 GB" 
      cpus = 5
      time = "40h"
      container = params.container_name
  }
}