params {
  file_type = "h5ad"
  mode = "run_dataset"
  sc_input = "/data/gent/vo/000/gvo00070/vsc43831/spatial_datasets/ABA_data/WMB-10Xv3_subset.h5ad"
  sp_input = "/data/gent/vo/000/gvo00070/vsc43831/spatial_datasets/Visium_HD_MouseBrain/Visium_HD_MouseBrain_008um.h5ad"
  annot = "class"
  methods = "cell2location"
  sampleID = "donor_label"
  verbose = true
  skip_metrics = true
  deconv_args = [cell2location: [build: "", fit:"-n 2"]]
  gpu = true
  outdir = [props: "/data/gent/vo/000/gvo00070/vsc43831/visium-hd/visium_hd_brain"]

}


process {
  withName: buildCell2locationModel {
    memory = "64 GB"
    time = "3h"
  }

  withName: fitCell2locationModel {
    errorStrategy = 'terminate'
    memory = "64 GB"
    time = "4h" 
  }
}

/*
process {
  withName: buildCell2locationModel {
    memory = "8 GB"
    time = "1h"
  }

  withName: fitCell2locationModel {
    memory = { "8 GB" }
    time = { "1h" }
  }
}
*/