params {
  file_type = "rds"
  mode = "run_dataset"
  sc_input = "/home/chananchidas/visium-hd/data/Visium_HD_MouseBrain/WMB-10Xv3_subset.rds"
  sp_input = "/home/chananchidas/visium-hd/data/Visium_HD_MouseBrain/Visium_HD_MouseBrain_008um.rds"
  annot = "class"
  methods = "rctd"
  sampleID = "donor_label"
  verbose = true
  skip_metrics = true
  deconv_args = []
  gpu = false
  outdir = [props: "/home/chananchidas/visium-hd/visium_hd_brain/"]

}

process {
  withName: runRCTD {
      memory = { "${16 + (task.attempt * 8)} GB" }
      cpus = 4
      time = "4h"
  }
}
